* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body,
#root {
  height: 100%;
}

.app {
  display: flex;
  width: 100%;
  height: 100%;
  /* height: calc(100vh - env(safe-area-inset-top)); */
}
@media screen and (max-width: 767px) {
  .app {
    flex-direction: column-reverse;
    height: calc(100% - env(safe-area-inset-top));
    padding-bottom: env(safe-area-inset-top);
  }
}
